Repository secure-software-engineering/phasar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MMory, @fabianbs96, @pdschubert, @vulder, @janniclas, @sritejakv

Fix IIA Edge Functions (#700)
  include/phasar/PhasarLLVM/DataFlow/IfdsIde/Problems/IDEInstInteractionAnalysis.h
Owners: @pdschubert, @vulder

DI-based LLVM Type Hierarchy (#702)
  include/phasar/PhasarLLVM/TypeHierarchy/DIBasedTypeHierarchy.h
  include/phasar/PhasarLLVM/TypeHierarchy/LLVMVFTable.h
  lib/PhasarLLVM/TypeHierarchy/DIBasedTypeHierarchy.cpp
  lib/PhasarLLVM/TypeHierarchy/LLVMTypeHierarchy.cpp
  test/llvm_test_code/type_hierarchies/CMakeLists.txt
  test/llvm_test_code/type_hierarchies/type_hierarchy_16.cpp
  test/llvm_test_code/type_hierarchies/type_hierarchy_17.cpp
  test/llvm_test_code/type_hierarchies/type_hierarchy_18.cpp
  test/llvm_test_code/type_hierarchies/type_hierarchy_19.cpp
  test/llvm_test_code/type_hierarchies/type_hierarchy_20.cpp
  test/llvm_test_code/type_hierarchies/type_hierarchy_21.cpp
  test/llvm_test_code/uninitialized_variables/struct_member_test.cpp
  unittests/PhasarLLVM/TypeHierarchy/CMakeLists.txt
  unittests/PhasarLLVM/TypeHierarchy/DIBasedTypeHierarchyTest.cpp
Owners: @MMory, @fabianbs96

Bump v2403
  BreakingChanges.md
  CMakeLists.txt
  Config.cmake.in
  Dockerfile
  README.md
  githooks/pre-push
  include/phasar/Config/Version.h
Owners: @MMory, @fabianbs96, @janniclas

Add separate switch for tools build
  CMakeLists.txt
Owners: @MMory, @fabianbs96

Fix C++20 build + minor
  CMakeLists.txt
  cmake/phasar_macros.cmake
  include/phasar/ControlFlow/CFGBase.h
  include/phasar/ControlFlow/ICFGBase.h
  include/phasar/DataFlow/IfdsIde/EdgeFunction.h
  include/phasar/DataFlow/IfdsIde/FlowFunctions.h
  include/phasar/Pointer/AliasInfoBase.h
  include/phasar/Pointer/PointsToInfoBase.h
  include/phasar/Utils/AdjacencyList.h
  include/phasar/Utils/ByRef.h
  include/phasar/Utils/GraphTraits.h
  include/phasar/Utils/IotaIterator.h
  include/phasar/Utils/JoinLattice.h
  include/phasar/Utils/Printer.h
  include/phasar/Utils/TypeTraits.h
Owners: @MMory, @fabianbs96

Bump v2403 (#703)
  BreakingChanges.md
  CMakeLists.txt
  Config.cmake.in
  Dockerfile
  README.md
  githooks/pre-push
  include/phasar/Config/Version.h
Owners: @MMory, @fabianbs96, @janniclas

.github/CODEOWNERS:

# Patterns listed later take precedence over earlier patterns.
# All owners are automatically set as reviewers for PRs affecting their files.
# At least one owner must approve a PR affecting their files.

* @MMory @fabianbs96

/include/phasar/PhasarLLVM/DataflowSolver/IfdsIde/Solver/IDESolver.h @pdschubert

/include/phasar/PhasarLLVM/DataflowSolver/IfdsIde/FlowEdgeFunctionCache.h @vulder
/include/phasar/PhasarLLVM/DataflowSolver/IfdsIde/EdgeFunctionSingletonFactory.h @vulder
/unittests/PhasarLLVM/DataFlowSolver/IfdsIde/EdgeFunctionSingletonFactoryTest.cpp @vulder

/include/phasar/PhasarLLVM/DataflowSolver/Mono @pdschubert

/img @pdschubert

/include/phasar/PhasarLLVM/DataFlow/IfdsIde/Problems/IDEInstInteractionAnalysis.h @pdschubert @vulder
/include/phasar/PhasarLLVM/DataFlow/IfdsIde/Problems/ExtendedTaintAnalysis/ @fabianbs96
/include/phasar/PhasarLLVM/DataFlow/IfdsIde/Problems/IDEExtendedTaintAnalysis.h @fabianbs96
/lib/PhasarLLVM/DataFlow/IfdsIde/Problems/IDEExtendedTaintAnalysis.cpp @fabianbs96
/lib/PhasarLLVM/DataFlow/IfdsIde/Problems/ExtendedTaintAnalysis/ @fabianbs96

/include/phasar/PhasarLLVM/AnalysisStrategy/ @pdschubert

Dockerfile @janniclas
/.docker/ @janniclas

/include/phasar/Utils/Logger.h @MMory
/include/phasar/Utils/AnalysisPrinterBase.h @sritejakv
/include/phasar/Utils/DefaultAnalysisPrinter.h @sritejakv
/include/phasar/Utils/NullAnalysisPrinter.h @sritejakv
/include/phasar/Utils/OnTheFlyAnalysisPrinter.h @sritejakv
/include/phasar/PhasarLLVM/Utils/SourceMgrPrinter.h @sritejakv
/lib/PhasarLLVM/Utils/SourceMgrPrinter.cpp @sritejakv
